<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        h6 {
            margin: 10px 0px 0px 0px;
        }

        ul,
        ol {
            margin: 10px 0px 0px 0px;
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
        }

        p {
            margin: 0;
        }

        .block {
            display: block
        }
    </style>
</head>

<body>
    <h6>计算属性vs方法</h6>
    <div id="app-1">
        <p>Original message: "{{ message }}"</p>
        <p>Computed reversed message: "{{ reversedMessage }}"</p>
        <p>Reversed message: "{{ reversedMessageM() }}"</p>
    </div>

    <h6>计算属性setter方法</h6>
    <div id="app-2">
        {{firstName+lastName}} {{fullName}}
    </div>

    <h6>watch监听数据变化</h6>
    <div id="app-3">
        <p>Ask a yes/no question:
            <input type="text" v-model="question" />
        </p>
        <div>{{answer}}</div>
    </div>

    <h6> v-if key 、class、style 使用</h6>
    <div id="app-4">
        <span v-if="loginType === 'username'" v-bind:class="[blockClass]">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </span>
        <span v-else class='block'>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
        </span>
        <!--style和class： block是vue实例中的data时不用加引号，加引号就是常量 -->
        <button @click='toogleType' :style="[{display:'block'}]">Toogle login Type</button>
    </div>


    <h6> 对象更改检测</h6>
    <div id="app-5">
        {{userProfile.name}}-{{userProfile.age}}
    </div>

    <h6> 对象更改检测2</h6>
    <div id="app-6">
        {{userProfile.name}}-{{userProfile.age}}
    </div>
</body>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/jquery"></script>
<script type="text/javascript">
    //计算属性vs方法 计算属性是基于它们的依赖进行缓存的
    var app1 = new Vue({
        el: '#app-1',
        data: { message: 'hello' },
        computed: {
            reversedMessage: function () {
                return this.message.split('').reverse().join('')
            }
        },
        methods: {
            reversedMessageM: function () {
                return this.message.split('').reverse().join('')
            }
        }
    })
    console.log(app1.reversedMessage) // => 'olleH'
    app1.message = 'Goodbye'
    console.log(app1.reversedMessage) // => 'eybdooG'

    //计算属性setter
    var app2 = new Vue({
        el: '#app-2',
        data: {
            firstName: 'Foo',
            lastName: 'Bar'
        },
        computed: {
            fullName: {
                get: function () {
                    return this.firstName + ' ' + this.lastName;
                },
                set: function (newvaule) {
                    var names = newvaule.split(' ');
                    this.firstName = names[0];
                    this.lastName = names[names.length - 1];
                }
            }
        }
    })
    app2.firstName = 'hhh';
    setTimeout(() => app2.fullName = 'John Doe', 2000);

    //watch 侦听器监听数据变化
    var app3 = new Vue({
        el: '#app-3',
        data: {
            question: '',
            answer: 'I cannot give you an answer until you ask a question!'
        },
        watch: {
            question: function () {
                this.answer = 'Waiting for you to stop typing...'
                this.getAnswer();
            }
        },
        methods: {
            getAnswer: function () {
                if (this.question.indexOf('?') == '-1') {
                    this.answer = 'Questions usually contain a question mark. ;-)'
                    return
                }
                this.answer = 'think...';
                var vm = this;
                $.get('https://yesno.wtf/api', (response) => vm.answer = response.answer, 'json');
            }
        }
    })

    //v-if key 应用
    var app4 = new Vue({
        el: '#app-4',
        data: {
            loginType: 'username',
            blockClass: 'block'
        },
        methods: {
            toogleType: function () {
                this.loginType = (this.loginType == 'username' ? 'email' : 'username')
            }
        }
    })

    //对象更改检测 动态添加对象属性
    var app5 = new Vue({
        el: '#app-5',
        data: {
            userProfile: {
                name: 'Anika'
            }
        },
    })
    Vue.set(app5.userProfile, 'age', 27);
    //等价以下
    app5.$set(app5.userProfile, 'age', 28);
    //添加多属性
    // app5.userProfile = Object.assign({}, app5.userProfile, {
    //     age: 28,
    //     favoriteColor: 'Vue Green'
    // })
    console.log(app5.userProfile);
    //[Vue warn]: Avoid adding reactive properties to a Vue instance or 
    //its root $data at runtime - declare it upfront in the data option.
    //下面报错 不要在根添加属性 或没有的对象添加属性 如app5或app5.aaa
    // app5.$set(app5,'hhd','ggg');

    var app6 = new Vue({
        el: '#app-6',
        data: {
            userProfile: {
                name: 'Anika'
            }
        },
    })
   // app6.userProfile.name="jack11";
    //app6.$set(app6.userProfile,'age',20)
    app6.userProfile.age=1;//初始没有的属性 只有加上一句或修改userProfile的一个初始属性值才会双向绑定，响应式

</script>

</html>